
<input type="text" [(ngModel)]="user">
<h2 *ngIf= "showMassage">the user is not existed !</h2>
<button (click)="myfucntion($event)">click me</button>

<h1>{{attributedirectives}}</h1>
<div [ngClass] ="isboolian? 'success' : 'error'" >
<h1>This is the example of ngclass</h1>
</div>

<h4>This is one object</h4>
<div *ngFor= "let item of objectarray; let i= index; ">

  <p style="margin-left: 5px;">{{i+1}}&nbsp;&nbsp;&nbsp;{{item}}</p>

  
</div>
<h4>This is another object</h4>
<div *ngFor= "let item1 of objectarray1; let x= index">
  <p style="margin-left: 5px;">{{x+1}}&nbsp;&nbsp;&nbsp;{{item1.name}}&nbsp;&nbsp;&nbsp;{{item1.age}}</p>


</div>